<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Cadastro de Médicos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="cabecalho">
      <div class="logo"><img src="/images/logo-medicina.png"></div>
    </div>
