<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Médicos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

    <div class="layout-lista">
        <h1> Médicos Cadastrados</h1>
        <button>+ Cadastrar Médico</button>
        <table>
            <tr>
            <th>Médicos Cadastrados</th>
            <th>Editar</th>
            <th>Deletar</th>
            </tr>
            <tr>
            <td>linha 1, célula 1</td>
            <td>linha 1, célula 2</td>
            <td>linha 1, célula 2</td>
            </tr>
            
        </table>
    </div>

    <h1>Médicos Cadastrados</h1>
    <ul>
    <% medicos.forEach(element => { %>
        
        <li>
            <%= medicos.nome %>
        </li>

    <% }); %>

    </ul>
    
</body>
</html>