<%- include('partials/header.ejs'); %>

<h1>Operação Efetuada com Sucesso</h1>
<h1>Você será redirecionado à lista de médicos em... <label id="contador"></label></h1>

<script src="/javascripts/count.js"></script>

<body>
  
</html>