* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}


body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: rgb(105, 241, 212);
  background-color: rgb(105, 241, 212);
}

body h1{
  color: #22557e;
}

body h2 {
  margin-bottom: 10px;
}

.layout-lista {
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tabela table {
  width: 90%;
  table-layout: fixed;
  border-collapse: collapse;

}

.tabela table, th, td {
  color: #22557e;
  border: 1px solid rgba(1, 32, 23, 0.35);
}

.cabecalho {
  padding-bottom: 20px;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cabecalho img {
  padding: 20px 0px;
  width: 200px;
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.container .form-cadastro {
  background-color: #22557e;
  width: 80vw;
  padding: 20px;
  border: 0px solid rgb(0, 71, 50);
  border-radius: 5px;
  display: block;
  flex-direction: row;
  box-shadow: 5px 2px 2px rgba(1, 32, 23, 0.35);
}

.form-control{
	margin: 0 auto;
	padding: 10px;
	border: none;
  margin-bottom: 15px;
  margin-right: 5px;
  border-radius: 50px;
  color: #131313;
  
}


#nome {
  width: 80%;
}

#endereco {
  width: 40%;
}

#numero {
  width: 10%;
  text-align: center;
}

#complemento {
  width: 20%;
  text-align: center;
}

#estado {
  width: 10%;
  text-align: center;
}

#especialidade1 {
  width: 30%;
  text-align: center;
}

#especialidade2 {
  width: 30%;
  text-align: center;
}

.btn {
  background-color: rgb(105, 241, 212);
  border: none;
  border-radius: 5px;
  color:rgb(0, 71, 50);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}